@import "~bootstrap/dist/css/bootstrap.min.css";

#paloBot {
  transform: rotate(180deg);
}

#body {
  background-color: green;
}

.card {
  width: 300px;
  height: 500 px;
  margin-top: 100 px;
}

#paloBot,
#paloTop,
#number {
  font-size: 100px;
}

#number {
  text-align: center;
  margin-top: 20 px;
  margin-bottom: 60 px;
}

.card-body {
  margin-top: -35 px;
}
